<?php
/** @var Zend_View $this */

$this->headScript()->appendFile(
    '/script/products/category-delete.js',
    'text/javascript'
);
?>
<?php echo $this->render('admin/_new-category-modal.phtml')?>
<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Categories</h3>
        </div>
        <div class="box-body">
            <div>
                <a class="btn btn-success btn-small add-category-btn"
                   id="add-category-btn"
                   href="JavaScript:;">
                    Add Category
                </a>
            </div>
            <div id="categories-table">
                <?php echo $this->render('admin/categories-table.phtml')?>
            </div>
        </div>
    </div>
</div>

