<?php
/** @var Products_Model_Category[] $categories */
$categories = $this->categories;
?>
<script>
    $(function () {
        var deleter = new CategoryDelete('<?php echo $this->url(['action' => 'delete-category']); ?>');
        $('.category-delete').on('click', function () {
            var id = $(this).attr('category-id');
            deleter.delete(id);
        });

        $('.edit-category').on('click', function () {
            var id = $(this).attr('category-id');
            $('#category-' + id + ' .hide-on-edit').hide();
            $('#category-' + id + ' .show-on-edit').show();
        });

        $('.btn.show-on-edit').on('click', function () {
            var id = $(this).attr('category-id');
            var categoryName = $('#category-' + id + ' input').val();

            $.post('<?php echo $this->url(['action' => 'update-category']); ?>',
                {id: id, name: categoryName}, function (response) {
                    if (!response.isValid) {
                        alert('Invalid category name');
                    } else {
                        $('#category-' + id +' span.category-name').html(categoryName);
                        $('#category-' + id + ' .hide-on-edit').show();
                        $('#category-' + id + ' .show-on-edit').hide();
                    }

                });
        });

    });
</script>

<table class="table">
    <thead>
    <tr>
        <td>Name</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($categories as $category) : ?>
        <tr id="category-<?php echo $category->getId(); ?>">
            <td>
                <span class="category-name hide-on-edit">
                    <?php echo $this->escape($category->getName()); ?>
                </span>
                <input type="text" class="show-on-edit" style="display: none"
                       value="<?php echo $this->escape($category->getName()); ?>"/>
            </td>
            <td>
                <a href="JavaScript:;" class="btn btn-default edit-category hide-on-edit"
                   category-id="<?php echo $category->getId(); ?>">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <a href="JavaScript:;"
                   class="btn btn-danger category-delete hide-on-edit"
                   category-id="<?php echo $category->getId(); ?>">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
                <a  class="btn show-on-edit" category-id="<?php echo $category->getId(); ?>"
                    href="JavaScript:;" style="display: none">Save</a>
            </td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>