<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Products</h3>
        </div>
        <div class="box-body">
            <?php echo $this->form; ?>
        </div>
    </div>
</div>

