<?php
/** @var Zend_View $this */
/** @var Products_Model_Category[] $categories */
$categories = $this->categories;
$this->headScript()->appendFile(
    '/script/products/picture-delete.js',
    'text/javascript'
);
?>
<script>
    $(function () {
        var deleter = new PictureDelete('<?php echo $this->url(['action' => 'reset-picture']); ?>');
        var id = <?php echo $this->product->getId(); ?>;
        $('#picture-delete-' + id).on('click', function () {
            deleter.delete(id);
        });
    });
</script>

<div id="image-<?php echo $this->product->getId(); ?>">
    <img src="<?php echo $this->baseUrl('uploads/products/thumbs/' .
        $this->product->getPicture()); ?>">
    <a href="JavaScript:;" id="picture-delete-<?php echo $this->product->getId(); ?>"
       class="btn btn-danger btn-small">Delete Picture</a>
</div>