<?php

$products = $this->products;
$this->headScript()->appendFile(
    '/script/products/product-delete.js',
    'text/javascript'
);
?>
<script>

    $(function () {
        var deleter = new ProductDelete('<?php echo $this->url(['action' => 'delete-product']); ?>');
        $('.product-delete').on('click', function () {
            var id = $(this).attr('product-id');
            deleter.delete(id);
        });

        $('.product-name').popover();

    });
</script>
<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Products</h3>
        </div>
        <div class="box-body">
            <?php echo $this->searchProductForm;?>
            <table class="table">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Price</td>
                    <td>Amount</td>
                    <td>Modify</td>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($products as $product) : ?>
                    <tr id="product-<?php echo $product->getId(); ?>">
                        <td>
                <a href="JavaScript:;"
                    class="product-name hide-on-edit"
                    data-toggle="popover"
                    data-content="<img width='100px' src='<?php echo $this->baseUrl('uploads/products/' . $product->getPicture()); ?>'>"
                    data-placement="right"
                    data-trigger="hover"
                    data-container="body"
                    data-html="true">
                    <?php echo $this->escape($product->getName()); ?>
                </a>
                            <input type="text" class="show-on-edit" style="display: none"
                                   value="<?php echo $this->escape($product->getName()); ?>"/>
                        </td>
                        <td>
                <span class="product-name hide-on-edit">
                    <?php echo $this->currency($product->getPrice()); ?>
                </span>
                            <input type="text" class="show-on-edit" style="display: none"
                                   value="<?php
                                   echo $this->currency($product->getPrice());?>"/>
                        </td>
                        <td>
                <span class="product-name hide-on-edit">
                    <?php echo $this->escape($product->getAmountAvailable()); ?>
                </span>
                            <input type="text" class="show-on-edit" style="display: none"
                                   value="<?php echo $this->escape($product->getAmountAvailable()); ?>"/>
                        </td>
                        <td>
                            <a href="<?php echo $this->url([
                                'action' => 'update-product',
                                'product-id' => $product->getId()]); ?>"
                               class="btn btn-default edit-product hide-on-edit"
                            "><i class="glyphicon glyphicon-pencil"></i></a>
                            <a href="JavaScript:;"
                               class="btn btn-danger product-delete hide-on-edit"
                               product-id="<?php echo $product->getId(); ?>">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                            <a  class="btn show-on-edit" product-id="<?php echo $product->getId(); ?>"
                                href="JavaScript:;" style="display: none">Save</a>
                        </td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>

        </div>
    </div>
</div>

