<script>
    $(function () {
       var deleter = new PropertyDelete('<?php echo $this->url(['action' => 'delete-property'])?>');
       $('.property-delete').on('click', function() {
       var id = $(this).attr('property-id');
       deleter.delete(id);
       });
    });
</script>
<?php $properties = $this->properties;?>
<table class="table">
    <thead>
    <tr>
        <td>Name</td>
        <td>Type</td>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($properties as $property) : ?>
        <tr id="property-<?php echo $property->getId(); ?>">
            <td>
                            <span class="property-name hide-on-edit">
                                <?php echo $this->escape($property->getName()); ?>
                             </span>
                <input type="text" class="show-on-edit" style="display: none"
                       value="<?php echo $this->escape($property->getName()); ?>"/>
            </td>

            <td>
                            <span class="property-type hide-on-edit">
                                <?php echo $this->escape($property->getType()); ?>
                             </span>
                <input type="text" class="show-on-edit" style="display: none"
                       value="<?php echo $this->escape($property->getType()); ?>"/>
            </td>

            <td>
                <a href="JavaScript:;" class="btn btn-default edit-property hide-on-edit"
                   property-id="<?php echo $property->getId(); ?>">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <a href="JavaScript:;"
                   class="btn btn-danger property-delete hide-on-edit"
                   property-id="<?php echo $property->getId(); ?>">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>

            </td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>