<?php
$this->headScript()->appendFile(
    '/script/products/property-delete.js',
    'text/javascript'
);
?>

<script>
    $(function () {

        var propertyModal = new Modal('Add Property', 'property-modal');
        propertyModal.appendFooterButton('Save', 'btn-primary save-property-btn');

        $('.btn.save-property-btn').on('click', function () {
            var propertyName = $('#name').val();
            var propertyType = $('#type').val();

            $.post('<?php echo $this->url(['action' => 'new-property']); ?>',
                {name: propertyName, type: propertyType}, function (response) {
                    if (!response.isValid) {
                        alert('Invalid Data for property name/type!');
                    } else {
                        propertyModal.hide();
                        $('#properties-table').html(response.properties);
                    }
                });
        });

        $('.add-property-btn').on('click', function() {
            $.get('<?php echo $this->url(
            [
                'action' => 'new-property',
                'controller' => 'admin',
                'module' => 'products'
            ]
        )?>',
                function(response) {
                    propertyModal.setBodyContent(response)
                        .show();

                });
            return false;
        });
    });
</script>
<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Properties</h3>
        </div>
        <div class="box-body">
            <div>
                <a class="btn btn-success btn-small add-property-btn"
                   id="add-property-btn"
                   href="JavaScript:;">
                    Add Property
                </a>
            </div>
            <div id="properties-table">
            <?php echo $this->render('admin/properties-table.phtml')?>
            </div>
        </div>
    </div>
</div>