<?php
$this->headLink()->appendStylesheet(
    '/style/products/images.css'
);
?>
<script>
$(function() {
    $('#delete-selected-btn').on('click', function(){
        if (!confirm('Are you sure you want to delete this picture?')) {
            return false;
        }

        $.post('<?php echo $this->url(['action' => 'delete-pictures']); ?>',
            $('#product-gallery').serialize(),
            function (response) {
                if (response.isValid) {
                    $.each(response.pictureIds, function(key, value){

                        $('#picture-container-' + value).fadeOut(function () {
                            $(this).remove();
                        });

                    });
                }
            });
    });
});
</script>
<div class="col-md-8">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Products</h3>
        </div>
        <div class="box-body">
            <?php

            if ('updated' == $this->status) :
                ?>
                <div class="alert alert-success">Product Updated successfully!</div>
            <?php
            elseif ('added' == $this->status) :
                ?>
                <div class="alert alert-success">Product added successfully!</div>
            <?php

            endif;
            echo $this->productForm;
            ?>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Products</h3>
        </div>
        <div class="box-body">
            <?php
            echo $this->picturesForm;
            ?>

            <form id="product-gallery">
            <?php
            /** @var Products_Model_Product $product */
            $product = $this->product;

            foreach ($product->getPictures() as $picture) :
                ?>
                <span id="picture-container-<?php echo $picture->getId()?>">
                <a href="<?php
                echo $this->baseUrl('uploads/products/' . $picture->getPicture());
                ?>" target="_blank"> <img src="<?php
                echo $this->baseUrl('uploads/products/thumbs/' . $picture->getPicture());
                ?>" class="img-thumbnail gallery-images-height">
                </a>
                <input type="checkbox"
                       name="picture-id[]"
                       value="<?php echo $picture->getId()?>"
                       id="picture-<?php echo $picture->getId()?>" />
                </span>
            <?php
            endforeach;
            ?>
            <a href="JavaScript:;"
               class="btn btn-default btn-danger" id="delete-selected-btn"> Delete Selected
            </a>
            </form>
        </div>
    </div>
</div>


