<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>AdminLTE | Dashboard</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <?php echo $this->headScript(); ?>


    <!-- The styles -->
    <?php echo $this->headLink(); ?>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="skin-blue">
    <?php echo $this->render('backend/header.phtml'); ?>
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <?php echo $this->render('backend/menu.phtml'); ?>
        <?php echo $this->render('backend/content.phtml'); ?>
    </div>
</body>
</html>