<?php
/** @var Zend_Navigation_Page[] $pages */
$pages = $this->pages;
?>
<ol class="breadcrumb">
    <li>
        <a href="<?php echo $this->url([], 'admin'); ?>">
            <i class="fa fa-dashboard"></i> Home
        </a>
    </li>
    <?php foreach ($pages as $page) : ?>
        <?php if ($page->isActive()) : ?>
            <li class="active">
                <?php echo $page->getLabel(); ?>
            </li>
        <?php else : ?>
            <li>
                <a href="<?php echo $page->getHref(); ?>">
                    <?php echo $page->getLabel(); ?>
                </a>
            </li>
        <?php endif; ?>
    <?php endforeach; ?>
</ol>