<!DOCTYPE html>
<html class="bg-black">
<head>
    <meta charset="UTF-8">
    <?php echo $this->headTitle('Admin Login'); ?>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

<?php
echo $this->headLink()
    ->appendStylesheet($this->asset('css/bootstrap.min.css'))
    ->appendStylesheet($this->asset('css/font-awesome.min.css'))
    ->appendStylesheet($this->asset('css/AdminLTE.css'));
?>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="bg-black">

<?php echo $this->layout()->content; ?>

<!-- external javascript
================================================== -->
<?php echo $this->headScript()
    ->appendFile('http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js')
    ->appendFile($this->asset('js/bootstrap.min.js')); ?>

</body>
</html>