<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>

    <?php
    echo $this->navigation()
              ->breadcrumbs()
              ->setPartial(array('breadcrumbs.phtml', 'default'));
    ?>

</section>

    <section class="content">
        <div class="row">

            <?php echo $this->layout()->content; ?>

        </div>
    </section>

</aside><!-- /.right-side -->
