<script>
$(function () {

    var categoryModal = new Modal('Add Category', 'category-modal');
    categoryModal.appendFooterButton('Save', 'btn-primary save-category-btn');

    $('.btn.save-category-btn').on('click', function () {
        var categoryName = $('#name').val();

        $.post('<?php echo $this->url(['action' => 'new-category']); ?>',
            {name: categoryName}, function (response) {
                if (!response.isValid) {
                    alert('Invalid category name');
                } else {
                    categoryModal.hide();
                    $('#categories-table').html(response.categories);
                }
            });
    });

    $('.add-category-btn').on('click', function() {
        $.get('<?php echo $this->url(
            [
                'action' => 'new-category',
                'controller' => 'admin',
                'module' => 'products'
            ]
        )?>',
            function(response) {
                categoryModal.setBodyContent(response)
                    .show();

            });
        return false;
    });
});
</script>
<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="img/avatar3.png" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p>Hello, Jane</p>

                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..."/>
                            <span class="input-group-btn">
                                <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <?php
        echo $this->navigation()
                  ->menu()
                  ->setUlClass('sidebar-menu');
        ?>
    </section>
    <!-- /.sidebar -->
</aside>