<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Change Password</h3>
        </div>
        <div class="box-body">
            <?php if ($this->success) : ?>
                <div class="alert alert-success">Password changed!</div>
            <?php endif; ?>

            <?php if($this->error): ?>
                <div class="alert alert-error">Wrong old password</div>
            <?php endif; ?>
            <?php echo $this->form; ?>
        </div>
    </div>
</div>

