<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">User Profile</h3>
        </div>
        <div class="box-body">
            <?php if ($this->success) : ?>
                <div class="alert alert-success">Profile updated successfully!</div>
            <?php endif; ?>
            <?php echo $this->form; ?>
        </div>
    </div>
</div>

